
version: '2.1'
services:
  image:
    extends:
      file: docker-compose-base.yml
      service: base-redis
    command: redis-server --requirepass ${REDIS_PASSWORD:-redis_pass} #remove this line if no password required
    container_name: ${CONTAINER_HOST_NAME:-standalone.redis}
    hostname: ${CONTAINER_HOST_NAME:-standalone.redis}
    labels:
      deploy.config.commit: ${LABEL_DEPLOY_CONFIG_COMMIT:-unknown}
      deploy.config.name: ${LABEL_DEPLOY_CONFIG_NAME:-unknown}
      deploy.config.ref: ${LABEL_DEPLOY_CONFIG_REF:-unknown}
      deploy.util.commit: ${LABEL_DEPLOY_UTIL_COMMIT:-unknown}
      deploy.util.ref: ${LABEL_DEPLOY_UTIL_REF:-unknown}
      instance.name.short: ${LABEL_INSTANCE_NAME_SHORT:-standalone.redis}
      instance.name: ${LABEL_INSTANCE_NAME:-127.0.0.1/redis/standalone}
    ports:
    - "${EXTERNAL_REDIS_6379_PORT:-6379}:6379"
    restart: always
    volumes:
    - data:/data

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/data
      o: bind
