
version: '2.1'
services:
  image:
    extends:
      file: docker-compose-base.yml
      service: base-redis
    command: redis-server --requirepass ${REDIS_PASSWORD:-redis_pass} #remove this line if no password required
    container_name: ${CONTAINER_HOST_NAME:-redis}
    hostname: ${CONTAINER_HOST_NAME:-redis}
    networks:
      local-network:
        ipv4_address: 172.16.238.54
        #ipv6_address: 2001:3984:3989::54
    ports:
    - "${SERVER_PORT:-6379}:6379"
    restart: always
    volumes:
    - data:/data

networks:
  local-network:
    external: true
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
      - subnet: 172.16.238.0/24
      #- subnet: 2001:3984:3989::/64

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/data
      o: bind
